<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session Practice</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Session Practice</h1>
    <section class="centered">
        <form action="/" method="POST">
            <label>New List Item: <input type="text" name="new_item" required/></label>
            <section class="centered">
                <button value="add" name="submit_action">Add Item</button>
            </section>
        </form>
    </section>
    <hr>
    {% if session['groceries'] %}
        <section class="centered">
            <form action="/" method="POST">
                <h2>Grocery List</h2>
                {% for item in session['groceries'] %}
                    <label><input type="checkbox" name="del_items" value="{{item}}"/> {{item}}</label>
                {% endfor %}
                <section class="centered">
                    <button value="remove" name="submit_action">Remove Selected</button>
                </section>
            </form>
        </section>
    {% endif %}
</body>
</html>